.chicken{
  background-color: red;
  float: left;
  width: 33.33%;
}
.sushi{
  background-color:yellow;
  float: left;
  width: 33.33%;
}
.beef{
  background-color: green;
  float: left;
  width: 33.33%;
}
.main:after {
    content: "";
    display: table;
    clear: both;
  }
h1
{
  text-align:center;
}
