.chicken{
  background-color: red;
  float: left;
  width: 30%;
  padding:20px;
  border: 1px solid black;
  height:40%;
}
.sushi{
  background-color:yellow;
  float: left;
  width: 30%;
  padding:20px;
  border: 1px solid black;
  height:40%;
}
.beef{
  background-color: green;
  float: left;
  width: 30%;
  padding:20px;
  border: 1px solid black;
  height:40%;
}
.main:after {
    content: "";
    display: table;
    clear: both;
  }
h1
{
  text-align:center;
}
